<!DOCTYPE html>
<html>

<head>
    <title>
        <%=title %>
    </title>
    <link rel='stylesheet' href='./stylesheets/style.css' />
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="./libs/bootstrap/dist/css/bootstrap.min.css">
    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link rel="stylesheet" href="./libs/bootstrap/dist/css/bootstrap-theme.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="./libs/jquery/dist/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="./libs/bootstrap/dist/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="./home">汇自在</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">订单 <span class="sr-only">(current)</span></a></li>
                        <li><a href="./group">分组</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">分析 <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/plchart">盈亏图</a></li>
                                <li><a href="/riskchart">风险图</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#signupModal" data-toggle="modal">注册</a></li>
                        <li><a href="#signinModal" data-toggle="modal">登录</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
        <div class="row">
            <div class="col-md-8">
                <ul class="nav nav-list">
                    <li class="active"><a href="#">我的战绩</a></li>
                    <li class=""><a href="#">交易纪录</a></li>
                    <li class=""><a href="#">下单明细</a></li>
                    <li class=""><a href="#">数据分析</a></li>
                </ul>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>


    <!-- signupModal -->
    <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action='/user/signup' method='post'>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">注册一个新用户</h4>
                    </div>
                    <div class="modal-body">
                        <div class="formgroup">
                            <label for="signupName">用户名</label>
                            <input name="username" type="text" id="signupName" class="form-control">
                        </div>
                        <div class="formgroup">
                            <label for="signupPassword">密码</label>
                            <input name="password" type="text" id="signupPassword" class="form-control">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default btn-primary">注册</button>
                        <button type="button" class="btn" data-dismiss="modal">取消</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- signInModal -->
    <div class="modal fade" id="signinModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action='/user/signin' method='post'>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">登录</h4>
                    </div>
                    <div class="modal-body">
                        <div class="formgroup">
                            <label for="signinName">用户名</label>
                            <input name="username" type="text" id="signinName" class="form-control">
                        </div>
                        <div class="formgroup">
                            <label for="signinPassword">密码</label>
                            <input name="password" type="text" id="signinPassword" class="form-control">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-primary">登录</button>
                        <button type="button" class="btn" data-dismiss="modal">取消</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
