<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <%- include('../head') %>
    <style type='text/css'>
    body {
        padding-top: 50px;
        padding-bottom: 40px;
        color: #5a5a5a;
    }
    </style>
</head>

<body>
    <%- include('../navbar') %>
    <!-- 登录对话框 -->
    <div class='container'>
        <div class='col-md-5 col-md-offset-3'>
            <form method='post' , action='/user/signin'>
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-label">登录</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="signupName">用户名</label>
                        <input type="text" id="signupName" class="form-control" name="user[username]" type="text">
                    </div>
                    <div class="form-group">
                        <label for="signupPassword">密码</label>
                        <input type="text" id="signupPassword" class="form-control" name="user[password]" type="text">
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" type="submit">登录</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>
